.ProductsPage ul {
  list-style: none;
  padding:0;
  margin:0;
}

.ProductsPage .products li {
  text-align: left;
  display:block;
}

.ProductsPage .product--collapsed {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
  margin: 1.5rem;
}

.ProductsPage .product--expanded {
  margin: 1.5rem .5rem;
  padding: 0 1rem;
}

.ProductsPage .detail {
  border: 1px solid #ccc;
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}
